In [1]:
import numpy as np
import pandas as pd

# read csv data, set index using "Date" column
ccy = pd.read_csv('../data/ccy1996_to_2023.csv')
ccy.set_index('Date', inplace=True)

In [2]:
ccy.head()

,AUD=,NZD=,EUR=,GBP=,CAD=,CHF=,JPY=,AUDNZD=R,EURAUD=R,GBPAUD=R,...,EURGBP=R,EURCAD=R,EURCHF=R,EURJPY=R,GBPCAD=R,GBPCHF=R,GBPJPY=R,CADCHF=R,CADJPY=R,CHFJPY=R
Date,,,,,,,,,,,,,,,,,,,,,
1996-01-05,0.74775,0.65755,1.2843,1.5525,1.35835,1.16150,105.410,1.13720,1.71755,2.07625,...,0.82725,1.7445,1.49170,135.235,2.10885,1.80325,163.48,0.85510,77.52,90.655
1996-01-12,0.74350,0.66285,1.2813,1.5465,1.36305,1.16300,105.250,1.12165,1.72335,2.07875,...,0.82850,1.7466,1.49015,134.855,2.10810,1.79855,162.77,0.85315,77.23,90.525
1996-01-19,0.73535,0.66425,1.2461,1.5075,1.36600,1.19230,105.345,1.10705,1.69455,2.05005,...,0.82660,1.7022,1.48570,131.275,2.05925,1.79735,158.81,0.87285,77.12,88.355
1996-01-26,0.73735,0.66675,1.2255,1.5020,1.38175,1.21100,106.650,1.10585,1.66205,2.03705,...,0.81590,1.6933,1.48410,130.695,2.07540,1.81895,160.19,0.87640,77.18,88.065
1996-02-02,0.75765,0.67685,1.2383,1.5243,1.37595,1.21445,106.450,1.11935,1.63440,2.01190,...,0.81240,1.7038,1.50385,131.815,2.09735,1.85120,162.26,0.88265,77.36,87.655

In [3]:
ccy['AUD='] = 1/ccy['AUD=']
ccy['NZD='] = 1/ccy['NZD=']
ccy['EUR='] = 1/ccy['EUR=']
ccy['GBP='] = 1/ccy['GBP=']

In [4]:
ccy.columns

Index(['AUD=', 'NZD=', 'EUR=', 'GBP=', 'CAD=', 'CHF=', 'JPY=', 'AUDNZD=R',
       'EURAUD=R', 'GBPAUD=R', 'AUDCAD=R', 'AUDCHF=R', 'AUDJPY=R', 'EURNZD=R',
       'GBPNZD=R', 'NZDCAD=R', 'NZDCHF=R', 'NZDJPY=R', 'EURGBP=R', 'EURCAD=R',
       'EURCHF=R', 'EURJPY=R', 'GBPCAD=R', 'GBPCHF=R', 'GBPJPY=R', 'CADCHF=R',
       'CADJPY=R', 'CHFJPY=R'],
      dtype='object')

In [5]:
ccy.columns = ['USDAUD', 'USDNZD', 'USDEUR', 'USDGBP', 'USDCAD', 'USDCHF', 'USDJPY', 'AUDNZD',
       'EURAUD', 'GBPAUD', 'AUDCAD', 'AUDCHF', 'AUDJPY', 'EURNZD',
       'GBPNZD', 'NZDCAD', 'NZDCHF', 'NZDJPY', 'EURGBP', 'EURCAD',
       'EURCHF', 'EURJPY', 'GBPCAD', 'GBPCHF', 'GBPJPY', 'CADCHF',
       'CADJPY', 'CHFJPY']
ccy.head()

,USDAUD,USDNZD,USDEUR,USDGBP,USDCAD,USDCHF,USDJPY,AUDNZD,EURAUD,GBPAUD,...,EURGBP,EURCAD,EURCHF,EURJPY,GBPCAD,GBPCHF,GBPJPY,CADCHF,CADJPY,CHFJPY
Date,,,,,,,,,,,,,,,,,,,,,
1996-01-05,1.337345,1.520797,0.778634,0.644122,1.35835,1.16150,105.410,1.13720,1.71755,2.07625,...,0.82725,1.7445,1.49170,135.235,2.10885,1.80325,163.48,0.85510,77.52,90.655
1996-01-12,1.344990,1.508637,0.780457,0.646621,1.36305,1.16300,105.250,1.12165,1.72335,2.07875,...,0.82850,1.7466,1.49015,134.855,2.10810,1.79855,162.77,0.85315,77.23,90.525
1996-01-19,1.359897,1.505457,0.802504,0.663350,1.36600,1.19230,105.345,1.10705,1.69455,2.05005,...,0.82660,1.7022,1.48570,131.275,2.05925,1.79735,158.81,0.87285,77.12,88.355
1996-01-26,1.356208,1.499813,0.815993,0.665779,1.38175,1.21100,106.650,1.10585,1.66205,2.03705,...,0.81590,1.6933,1.48410,130.695,2.07540,1.81895,160.19,0.87640,77.18,88.065
1996-02-02,1.319871,1.477432,0.807559,0.656039,1.37595,1.21445,106.450,1.11935,1.63440,2.01190,...,0.81240,1.7038,1.50385,131.815,2.09735,1.85120,162.26,0.88265,77.36,87.655

In [6]:
ccy.to_csv('../data/ccy1996_to_2023(c).csv')